.exercicios {
     display: flex;
     border-radius: 20px;
     border-bottom: 20px;
     width: 250px;
     height: 25px;
     text-align: center;
     text-align: center;
     margin-left: 30px;
}

main div h4 button:hover {
     transition: 0.3s;
     border-color: red;
     color: black;

}

#titulo01 {
     color: white;
     margin-top: 20px;
     margin-left: 30px;
}

#titulo02 {
     color: white;
     margin-left: 30px;
     margin-top: 20px;

}

body {

     background-color: rgb(59, 37, 203);
     margin: 0px;
     margin-left: 50px;
     
}

#buttonex02 {
    padding-bottom: 40px;
    height: 500px;
}

  #buttonex
  
  {



          }
.Blocos{

     margin-top: 30px;
     width: 350px;
     background-color: rgb(21, 164, 212, 0.8);
     border-radius: 30px;
     height: 250px;
     padding: 5px;
    margin-left: 20px;
}


.container {
     gap: 20px;
     display: flex;
     flex-direction: row;
     flex-flow: flex;
     justify-content: center ;
     align-content: t;
     background-color: rgb(22, 102, 223);
     width: 100vw;
     height: 100vh;
     border-radius: 40px; 
     align-items: ;
     
}

#titulo_principal {
     color: white;
     width: 600px;
     height: 3px;
     gap: 30px;

}